.container {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffde20;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.form {
  z-index: 10;
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input {
  padding: 0.7rem 1rem;
  border: 1px solid #dfe6e9;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
  outline: none;

  &:focus {
    border-color: #032062;
  }
}
.inputGroup {
  position: relative;
  input {
    width: 100%;
  }
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    transition: .2s;
    // &:hover {
    //   color: #032062;
    // }
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #032062;
  color: #fff;
  padding: 0.8rem 0;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
  }
}

.error {
  color: #d63031;
  font-size: 0.95rem;
  text-align: center;
  margin-top: -0.5rem;
}
.registerText {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.registerBtn {
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}
