.services {
  padding: 60px 0;
  .bgImage {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h1 {
      position: absolute;
      font-size: 30px;
      width: 600px;
      text-wrap: wrap;
      color: #032062;
      text-align: center;
      @media screen and (max-width: 630px) {
        width: 400px;
      }
      @media screen and (max-width: 420px) {
        width: 280px;
        font-size: 20px;
      }
    }
  }
  .loader {
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .serviceList {
    background-color: #f7f7f7;
    .header {
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      div {
        width: 100px;
        border: 2px solid #032062;
      }
      .icon {
        color: #032062;
        font-size: 50px;
      }
    }
    .filter {
      width: calc(80% - 20px);
      margin: 0 auto;
      padding: 15px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      input {
        padding: 10px;
        border-radius: 8px;
        width: 50%;
      }
      select {
        padding: 5px;
        border-radius: 8px;
        width: 20%;
      }
    }
    .container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .card {
        width: calc(100% / 3);
        @media screen and (max-width: 900px) {
          width: calc(100% / 2);
        }
        @media screen and (max-width: 750px) {
          width: calc(100% / 2);
        }
        @media screen and (max-width: 400px) {
          width: calc(100% / 1);
        }
        height: 225px;
        padding: 10px;
        .cardContent {
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            transform: scale(0.95);
          }
          padding: 25px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          background-color: white;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          .title {
            text-align: center;
            color: #032062;
          }
          .icons {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .hr {
              width: 100px;
              height: 1px;
              gap: 10px;
              border: 1px solid #032062;
            }
          }
        }
      }
    }
  }
}
