.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
}

.form {
  background: #fff;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 0.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  padding: 0.7rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;

  &:focus {
    border-color: #0077ff;
    outline: none;
  }
}

.inputGroup {
  position: relative;
  input {
    width: 100%;
  }
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    transition: 0.2s;
    // &:hover {
    //   color: #032062;
    // }
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.8rem 0;
  background: #0077ff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #005fcc;
  }
}
